# Define your shell aliases in this .aliases file.
# Do not put anything else (e.g. stty, setenv, mesg) into this file.

# e.g.
# alias a.out './a.out'

alias tmux="tmux -2"
alias imgcat="~/dotfiles/utils/imgcat.sh"
alias clipboard="~/dotfiles/utils/clipboard.sh"
alias python="python3"
alias vim="nvim"

alias less='less --RAW-CONTROL-CHARS'
export LS_OPTS='--color=auto'
alias ls='ls ${LS_OPTS}'
alias gcam="git commit -am "
